version: "3.3"
services:

  peertube:
    image: chocobozzz/peertube:production-bullseye
    env_file:
      - .env
    ports:
     - "172.17.0.1:11935:1935" # Comment if you don't want to use the live feature
     - "172.17.0.1:9530:9000" 
    volumes:
      # - ./assets:/app/client/dist
      - ./data:/data
      - ./config:/config
    depends_on:
      - postgres
      - redis
    restart: "always"

  postgres:
    image: postgres:13-alpine
    env_file:
      - .env
    volumes:
      - ./db:/var/lib/postgresql/data
    restart: "always"

  redis:
    image: redis:6-alpine
    volumes:
      - ./redis:/data
    restart: "always"